

* {
    margin: 0;
    padding: 0;
}

/*Header Tags*/

h1 {
    color: #db4e79;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    letter-spacing: 4px;
}

/*Skewed Background and Main Styling*/

body {
    background: #2f3642;
    color: #FFF;
    font-family: 'Libre Franklin', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

.skewed-bg {
    background: #374e75;
    padding: 200px 0;
    transform: skew(0deg, -10deg);
    margin-top: -200px;
}

.content {
    transform: skew(0deg, 10deg);
    text-align: center;
}

.title {
    padding-top: 100px;
    font-weight: normal;
}

.text {
    width: 60%;
    opacity: .8;
    letter-spacing: 10px;
    margin: 25px auto;
}

.footer {
    padding-top: 300px;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: .9s;
}


/*Animation Effect*/

/*@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}*/

/*Navigation Bar Styling*/


nav {
    font: 'Libre Franklin';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    width: 75%;
    text-align: left;

}

    nav ul {
        background: #444c59;
        border-radius: 3px;
        padding: 12px;
        list-style: none;
    }

    nav li {
        height: 32px;
        display: inline-block;
        border-right: 1px solid rgba(0,0,0,.1);
        padding: 4px 18px;
    }

        nav li:first-of-type {
            border-left: 1px solid rgba(0,0,0,.1);
        }

    nav a {
        display: block;
        border-bottom: 1px solid transparent;
        padding: 4px;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 120%;
        text-decoration: none;
        color: rgba(255,255,255,.7);
    }

[type="text"] {
    width: 100px;
    background: rgba(255,255,255,.9);
    display: block;
    margin-bottom: 1px;
    border: 0;
    padding: 4px 4px;
    font-size: 75%;
    color: #444;
}

nav li:not(.active):hover a {
    border-bottom: 1px solid rgba(255,255,255,.5);
    color: #db4e79;
}

nav .active a {
    color: #fff;
}

nav .active:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: relative;
    margin: 14px auto;
    border: 10px solid transparent;
    border-top: 8px solid #db4e79;
}